.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.field-image {
  background-image: url("../resources/field2.png"); /* The image used */
  background-color: #cccccc; /* Used if the image is unavailable */
  height: calc(100vh - 164px); /* You must set a specified height */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%; /* Resize the background image to cover the entire container */
}

.result-board {
  height: 135px;
}

.team-board {
  height: calc(100vh - 164px);
}

.player-list {
  height: calc(100vh - 700px);
  overflow-y: auto;
  overflow-x: hidden;
}

.field-row {
  height: calc((100vh - 164px) / 8);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
